# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [6]:

import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [7]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [9]:
s = pd.Series(lst)
print(s)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [10]:
third_v = s[2]
print(third_v)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [12]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [14]:
df = pd.DataFrame(b) #pd.dataframe() pulls dataframe function from the pandas library
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [19]:
#FIXME This excercise appears to be incorrectly written or unclear as no column names are provided here. So I will assume my own names.^^

len(df.columns) #check the number of columns
df.columns = ['col1', 'col2', 'col3', 'col4', 'col5'] # update column names
print(df) # see results

   col1  col2  col3  col4  col5
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [22]:
subset = df[['col1', 'col3', 'col5']] # note to myself, use double brackets from 'df' to select columns or rows correctly.
print(subset)

   col1  col3  col5
0  53.1  67.5  78.4
1  61.3  30.8  87.6
2  20.6  44.2  91.8
3  57.4  96.1  69.5
4  83.6  85.4  35.9
5  49.0   0.1  89.1
6  23.3  95.0  26.9
7  27.6  53.8  68.5
8  96.6  53.4  50.1
9  73.7  43.2  34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [30]:
average_3 = df[['col3']].mean()
print(average_3)

col3    56.95
dtype: float64

### 8. From the original data frame, calculate the maximum Score_4 value.

In [24]:
max_4 = df[['col4']].max()
print(max_4)

col4    88.8
dtype: float64

### 9. From the original data frame, calculate the median Score 2 value.

In [29]:
median_2 = df[['col2']].median()
print(median_2)

col2    40.75
dtype: float64

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [37]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [38]:
df_orders = pd.DataFrame(orders)
print(df_orders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [40]:
totals_df = df_orders[['Quantity', 'Revenue']].sum()
print(totals_df)

Quantity    2978.0
Revenue      637.0
dtype: float64

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [72]:
min_index_x_axis = df_orders[['UnitPrice']].idxmin() # Find the min expensive item in the index.
max_index_x_axis = df_orders[['UnitPrice']].idxmax() # Find the max expensive item in the index.

most_expensive = df_orders.loc[max_index_x_axis, ['Description','UnitPrice']] # Locate the value fields in the row after the max calculation.
least_expensive = df_orders.loc[min_index_x_axis, ['Description','UnitPrice']] # Locate the value fields in the row after the min calculation.

print(
    f"** Most expensive item **:\n"
    f"   {most_expensive}\n\n"
    f"** Least expensive item **:\n"
    f"   {least_expensive}"
)

** Most expensive item **:
                         Description  UnitPrice
6  BOX OF VINTAGE ALPHABET BLOCKS      11.95

** Least expensive item **:
                            Description  UnitPrice
3  WORLD WAR 2 GLIDERS ASSTD DESIGNS       0.18

## Let's load another dataset for more exercisesÂº

In [7]:

admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [8]:
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [9]:
null_check = admissions.isna() # use .isna() to se if any data is null
print(null_check) # running the check shows there is no missing data.

     Serial No.  GRE Score  TOEFL Score  University Rating    SOP   LOR   \
0         False      False        False              False  False  False
1         False      False        False              False  False  False
2         False      False        False              False  False  False
3         False      False        False              False  False  False
4         False      False        False              False  False  False
..          ...        ...          ...                ...    ...    ...
380       False      False        False              False  False  False
381       False      False        False              False  False  False
382       False      False        False              False  False  False
383       False      False        False              False  False  False
384       False      False        False              False  False  False

      CGPA  Research  Chance of Admit
0    False     False             False
1    False     False             False
2    False     False             False
3    False     False             False
4    False     False             False
..     ...       ...               ...
380  False     False             False
381  False     False             False
382  False     False             False
383  False     False             False
384  False     False             False

[385 rows x 9 columns]

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [10]:
admissions = admissions.set_index('Serial No.', drop=False)
print(admissions)

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0
...                ...        ...          ...                ...  ...   ...
381                381        324          110                  3  3.5   3.5
382                382        325          107                  3  3.0   3.5
383                383        330          116                  4  5.0   4.5
384                384        312          103                  3  3.5   4.0
385                385        333          117                  4  5.0   4.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90
...          ...       ...               ...
381         9.04         1              0.82
382         9.11         1              0.84
383         9.45         1              0.91
384         8.78         0              0.67
385         9.66         1              0.95

[385 rows x 9 columns]

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [11]:
filtered = admissions[
(admissions['CGPA'] > 9) & (admissions['Research'] == 1)
].shape[0]

print(filtered)

101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [13]:
mean_chance = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]['Chance of Admit '].mean()
print(mean_chance)

0.8019999999999999